{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>My expense categories</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense_category in categories %}
                    <tr>
                        <td> {{ expense_category.name }}</td>
                        <td>{{ expense_category.receipts.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</main>

{% endblock content %}
